<section class="events">
    <div class="container">
        <div class="events__title">Афиша</div>
        <div class="events-body">
            <div class="events-switch">
                <div class="events-list events--current">
                    {% include 'event.twig' with { 'title': 'Название', 'date': '07.04.2022', description: 'Краткое описание премьеры' } %}
                    {% include 'event2.twig' with { 'title': 'Название', 'date': '07.04.2022', description: 'Краткое описание премьеры' } %}
                    {% include 'event3.twig' with { 'title': 'Название', 'date': '07.04.2022', description: 'Краткое описание премьеры' } %}
                    {% include 'event4.twig' with { 'title': 'Название', 'date': '07.04.2022', description: 'Краткое описание премьеры' } %}
                </div>
            </div>
            <div class="events__calendar" id="color-calendar">
            </div>
        </div>
    </div>
</section>