<div class="event">
    <div class="event__info">
        <a class="event__title" href="#">
            {{ title }}
        </a>
        <h3 class="event__date">
            {{ date }}
        </h3>
        <p class="event__description">
            {{ description }}
        </p>
    </div>
    <img src="assets/img/sayt_00004_225x1 1.png" alt="" class="event__img">
</div>