<section class="events">
    <div class="container">
        <div class="events__title">Афиша</div>
        <div class="events-body">
            <div class="events-switch">
                <div class="events-list events--current">
                    {% include 'event.twig' with { 'title': 'TITLE', 'date': '07.04.2022', description: 'PIERO ANGELA con ALBERTO LUCA RECCHI e la partecipazione di GIANCARLO GIANNINI 1 marzo 2021: SPETTACOLO POSTICIPATO - Nuova data in definizione' } %}
                    {% include 'event.twig' with { 'title': 'TITLE', 'date': '07.04.2022', description: 'PIERO ANGELA con ALBERTO LUCA RECCHI e la partecipazione di GIANCARLO GIANNINI 1 marzo 2021: SPETTACOLO POSTICIPATO - Nuova data in definizione' } %}
                    {% include 'event.twig' with { 'title': 'TITLE', 'date': '07.04.2022', description: 'PIERO ANGELA con ALBERTO LUCA RECCHI e la partecipazione di GIANCARLO GIANNINI 1 marzo 2021: SPETTACOLO POSTICIPATO - Nuova data in definizione' } %}
                    {% include 'event.twig' with { 'title': 'TITLE', 'date': '07.04.2022', description: 'PIERO ANGELA con ALBERTO LUCA RECCHI e la partecipazione di GIANCARLO GIANNINI 1 marzo 2021: SPETTACOLO POSTICIPATO - Nuova data in definizione' } %}
                </div>
            </div>
            <div class="events__calendar" id="color-calendar">
            </div>
        </div>
    </div>
</section>