.section-title {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-size: 48px;
  color: $c-section-title-text;
  margin-bottom: 47px;

  &--colored {
    color: $c-section-title-text-colored;
  }
}