.event {
  padding: 30px 20px 10px 0;
  border-bottom: 1px solid $c-affiche-event-bottom-bd;
  border-right: 15px solid $c-affiche-event-right-bd;
  display: flex;
  justify-content: space-between;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &__info {
    padding: 0 30px 0 0;
  }


  &__title, &__date {
    font-family: 'Montserrat-ExtraBold', sans-serif;
  }

  &__description {
    font-family: 'Montserrat', sans-serif;
  }

  &__title {
    color: $c-affiche-event-title;
    background: 10px;
    font-size: 22px;

    @media screen and (min-width: $screen-lg) {
      font-size: 27px;
    }
  }

  &__date {
    color: $c-affiche-event-date;
    margin-bottom: 25px;
    font-size: 20px;

    @media screen and (min-width: $screen-lg) {
      font-size: 22px;
    }
  }

  &__description {
    color: $c-affiche-event-description;
    font-size: 14px;

    @media screen and (min-width: $screen-lg) {
      font-size: 18px;
    }
  }

  &__img {
    max-width: 150px;

    @media screen and (min-width: $screen-lg) {
      max-width: 250px;
    }
  }
}