{% include 'common/header.twig' %}

<main class="affiche-page">
    {% include 'main/banner.twig' %}
    {% include 'common/title.twig' %}
    {% include 'affiche/event-container.twig' %}
    {% include 'main/newsletter.twig' %}
    {% include 'main/forvisitors.twig' %}
</main>

{% include 'common/footer.twig' %}