{% include 'common/header.twig' %}

<main>
    {% include 'main/banner.twig' %}
    <section class="info">
        <div class="container">
            <div class="info">
                <div class="info-info">
                    <h1 class="info-info__heading">Аренда конференц-залов, VIP-комнат для семинаров</h1>
                    <p class="info-info__text">ГУ "РКПЦ" предлагает своим клиентам хорошую материально-техническую базу для организации и проведения семинаров в Минске: малый зал на 270 посадочных мест, концертный зал «Минск» на 1 300 посадочных мест, 4 конференц-зала (на 40, 86, 100 и 150 мест), и VIP-комнаты для проведения семинаров, собраний, тренингов, юбилеев и других мероприятий, а также помещения под офис
                        <br>
                        Аудитория и залы оснащены современным техническим оборудованием, в том числе: мультимедийными проекторами, проекционными экранами, графопроекторами, плазменными панелями и телевизорами.
                        <br>
                        Мобильное оборудование для синхронного перевода может быть смонтировано в любом по величине зале или аудитории для проведения семинаров, конференций, форумов,симпозиумов и других мероприятий.
                        <br>
                        Организационно-методический отдел предлагает комплексное обслуживание проводимых мероприятий.
                        <br>
                        При вашем желании организуем кофе-паузы и обеды для участников ваших мероприятий.
                        <br>
                        <a class="info-info__link" href="https://www.youtube.com/watch?v=A0FOiRnIlu0">Видео</a>
                        <br>
                        С 15 июня 2017 года в концертном зале «МИНСК» сдаются в аренду торгово-выставочные площади на первом этаже здания с отдельным входом от 5 до 270 кв.м. для непродовольственных и продовольственных товаров.
                    </p>
                    <div class="gg-container">
                        <div class="gg-box">
                            <img src="assets/img/1899.jpg" alt="">
                            <img src="assets/img/1901.jpg" alt="">
                            <img src="assets/img/1255.jpg" alt="">
                            <img src="assets/img/1256.jpg" alt="">
                            <img src="assets/img/1257.jpg" alt="">
                            <img src="assets/img/284.jpg" alt="">
                            <img src="assets/img/282.jpg" alt="">
                            <img src="assets/img/285.jpg" alt="">
                            <img src="assets/img/2282.jpg" alt="">
                            <img src="assets/img/2283.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="info-contacts">
                    <h1 class="info-contacts__title">Контакты</h1>
                    <a href="tel:+375172260156" class="info-contacts__link">+375(17) 226-01-56</a>
                    <br>
                    <a href="tel:+375172260460" class="info-contacts__link">+375(17) 226-04-60</a>
                    <br>
                    <a href="mailto:arendakzminsk@mail.ru" class="info-contacts__link">arendakzminsk@mail.ru</a>
                    <br>
                    <p class="info-contacts__text">
                        Отдел организации культурно-массовых мероприятий приглашает к сотрудничеству и предлагает к услугам своих клиентов концертный зал «Минск» — один из лучших концертных залов Беларуси. Зал рассчитан на 1 300 мест, при этом его конструкционной особенностью является прекрасный и практически одинаковый обзор сцены с любого посадочного места. Техническая оснащенность зала соответствует современному уровню требований. На нашей сцене постоянно организуют концерты и спектакли многие концертные агентства, проходят многолюдные конференции, наш зал гостеприимно принимает коллективы организаций-юбиляров, выпускников, их родителей и учителей на выпускных вечерах. Мы будем рады помочь Вам в организации любого мероприятия!
                    </p>
                </div>
                <form class="info-form">
                    <div class="info-form__heading">
                        <h1 class="info-form__title">Свяжитесь с нами</h1>
                    </div>
                    <div class="info-form__group">
                        <label for="" class="info-form__label">Фамилия, имя, отчество</label>
                        <input type="text" class="info-form__input">
                    </div>
                    <div class="info-form__group">
                        <label for="" class="info-form__label">Адрес места жительства (пребывания)</label>
                        <input type="text" class="info-form__input">
                    </div>
                    <div class="info-form__group">
                        <label for="" class="info-form__label">Юридическое лицо (полное наименование) и его место нахождения</label>
                        <input type="text" class="info-form__input">
                    </div>
                    <div class="info-form__group">
                        <label for="" class="info-form__label">E-mail</label>
                        <input type="email" class="info-form__input">
                    </div>
                    <div class="info-form__group">
                        <label for="" class="info-form__label">Телефон</label>
                        <input type="tel" class="info-form__input">
                    </div>
                    <div class="info-form__group">
                        <label for="" class="info-form__label">Текст сообщения</label>
                        <textarea class="info-form__input"></textarea>
                    </div>
                    <div class="info-form__group">
                        <input type="submit" class="info-form__input info-form__submit" placeholder="Отправить">
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

{% include 'common/footer.twig' %}