{% include 'common/header.twig' %}

<main class="concert_hall-page">
     {% include 'common/title.twig' %}
     {% include 'concert_hall/galery-container.twig' %}
     }
</main>

 {% include 'common/footer.twig' %}