{% include 'common/header.twig' %}

<main class="main">
    {% include 'main/banner.twig' %}
    <section class="contacts">
        <div class="container contacts">
            <div class="contacts__column">
                <h1 class="contacts__title">Контакты</h1>
                <div class="contacts__map">
                    <h3 class="contacts__subtitle">Карта проезда</h3>
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad13c55463c2d9cde46c1a4154e72fab3af30c85a2af12bb120140d0c683b7ddf&amp;width=555&amp;height=409&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
            <div class="contacts__column contacts__description">
                <div class="contacts__column">
                    <p class="contacts__info">Директор: Сидоренко Александр Петрович</p>
                    <br>
                    <p class="contacts__info">
                        Заместитель директора по общественному питанию и торговле
                        <br>
                        Мосин Анатолий Фёдорович
                        <br>
                        <a class="contacts__link" href="tel:+375173278578"+375 17 327-85-78></a>
                    </p>
                    <br>
                    <p class="contacts__info">
                        Заведующая производством
                        <br>
                        Кравчонок Валентина Александровна
                        <br>
                        <a class="contacts__link" href="tel:+375173285470">+375 17 328-54-70</a>
                    </p>
                    <br>
                    <p class="contacts__info">
                        Главный бухгалтер
                        <br>
                        Шелепень Людмила Аркадьевна
                        <br>
                        <a class="contacts__link" href="tel:+375173278709">+375 17 327-87-09</a>
                    </p>
                    <br>
                    <p class="contacts__info">
                        Ведущий юрисконсульт
                        <br>
                        Власова Анна Витальевна
                        <br>
                        <a class="contacts__link" href="tel:+375173285473">+375 17 328-54-73</a>
                    </p>
                    <br>
                    <p class="contacts__info">
                        Касса
                        <br>
                        <a class="contacts__link" href="tel:+375173286638">+375 17 328-66-38</a>
                        <br>
                        (время работы: 10.30 — 19.30,
                        <br>
                        13.00 — 14.00 — перерыв на обед)
                    </p>
                    <br>
                </div>
                <div class="contacts__column">
                    <p class="contacts__info">
                        Отдел арендных отношений
                        (аренда помещений,
                        конференц-залов, vip-комнат, малого и большого концертного
                        зала, организационные вопросы)
                        <br>
                        Начальник отдела Носаков Владимир Иванович
                        <br>
                        <a class="contacts__link" href="tel:+375173278741">+375 17 327-87-41</a>
                        <br>
                        <a class="contacts__link" href="mailto:arendakzminsk@mail.ru">arendakzminsk@mail.ru</a>
                    </p>
                    <br>
                    <p class="contacts__info">
                        Отдел концертно-зрелищных мероприятий и культурно-массовой работы
                        (организация и проведение собственных мероприятий)
                        <br>
                        Начальник отдела Гомелькова Елена Владимировна
                        <br>
                        <a class="contacts__link" href="tel:+375173278582">+375 17 327-85-82</a>
                    </p>
                    <br>
                    <p class="contacts__info">
                        Отдел рекламы и маркетинга
                        <br>
                        Начальник отдела Попова Марина Николаевна
                        <br>
                        <a class="contacts__link" href="tel:+375172891981">+375 17 289-19-81</a>
                    </p>
                    <br>
                    <p class="contacts__info">
                        Билетно-кассовый сектор
                        <br>
                        Заведующий Матюшевская Елена Ивановна
                        <br>
                        <a class="contacts__link" href="tel:+375172094545">+375 17 209-45-45</a>
                    </p>
                    <br>
                    <p class="contacts__info">
                        Галерея национального декоративно-прикладного искусства
                        (сувениры, подарки)
                        <br>
                        Начальник отдела Шавель Валентина Ивановна
                        <br>
                        <a class="contacts__link" href="tel:+375172891980">+375 17 289-19-80</a>
                        <br>
                        <a class="contacts__link" href="mailto:gallery.2013@mail.ru">gallery.2013@mail.ru</a>
                    </p>
                    <br>
                    <p class="contacts__info">
                        Ведущий специалист по кадрам
                        <br>
                        Колошонок Юлия Сергеевна
                        <br>
                        <a class="contacts__link" href="tel:+375173285473">+375 17 328-54-73</a>
                    </p>
                    <br>
                    <p class="contacts__info">
                        Администратор ресторана
                        <br>
                        <a class="contacts__link" href="tel:+375173278561">+375 17 327-85-61</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'common/footer.twig' %}