{% include 'common/header.twig' %}

<main class="main">
    {% include 'main/banner.twig' %}
    {% include 'main/affiche.twig' %}
    {% include 'main/advertisement.twig' %}
    {% include 'main/forvisitors.twig' %}
    {% include 'main/newsletter.twig' %}
</main>

{% include 'common/footer.twig' %}