{% include 'common/header.twig' %}

<main class="main">
    {% include 'main/banner.twig' %}
    <section class="menu">
        <div class="container">
            <div class="menu">
                <h1 class="menu__title">Кафе "Три мушкетера"</h1>
                <div class="menu__heading">
                    <h3 class="menu__subtitle">Кафе "Три мушкетера"</h3>
                    <p class="menu__date">17.12.2021 г.- 31.12.2021 г.</p>
                </div>
                <div class="menu-category">
                    <h3 class="menu-category__title">Холодные блюда</h3>
                    <ul class="responsive-table menu-category-item">
                        <li class="table-header">
                            <div class="col col-1">Название блюда</div>
                            <div class="col col-3">Состав</div>
                            <div class="col col-1">Цена</div>
                        </li>
                        <li class="table-row">
                            <div class="col col-1 menu-category-item__title">ФИЛЕ ФОРЕЛИ С ГАРНИРОМ</div>
                            <div class="col col-3 menu-category-item__description">Филе форели с/с (75), лимон (20), маслины (15), оливки (10), масло сливочное (4), зелень.</div>
                            <div class="col col-1 menu-category-item__price">16,56</div>
                        </li>
                        <li class="table-row">
                            <div class="col col-1 menu-category-item__title">ДЕРЕВЕНСКАЯ СМАКАТА.</div>
                            <div class="col col-3 menu-category-item__description">Картофель (100), филе сельди (60), лук маринов. (35), зелень (5)</div>
                            <div class="col col-1 menu-category-item__price">5,00</div>
                        </li>
                        <li class="table-row">
                            <div class="col col-1 menu-category-item__title">МЯСНАЯ ТАРЕЛКА.</div>
                            <div class="col col-3 menu-category-item__description">Ветчина к/в (150), колбаса  с/в (4), полендвица с/к (4), зелень. (4)</div>
                            <div class="col col-1 menu-category-item__price">11,19</div>
                        </li>
                        <li class="table-row">
                            <div class="col col-1 menu-category-item__title">ЗАКУСКА ПО-СЕЛЯНСКИ.</div>
                            <div class="col col-3 menu-category-item__description">Полендвица с/в (75), грудинка по-крестьянски (75), огурец малосольный (75), зелень. (2)</div>
                            <div class="col col-1 menu-category-item__price">14,16</div>
                        </li>
                        <li class="table-row">
                            <div class="col col-1 menu-category-item__title">ЗАКУСКА ПО-ДОМАШНЕМУ ЗАБАВА МУШКЕТЕРОВ*</div>
                            <div class="col col-3 menu-category-item__description">Руляда из птицы (225), рулет пикантный (30), язык говяжий (30), хрен (2), горчица, зелень.</div>
                            <div class="col col-1 menu-category-item__price">18,13</div>
                        </li>
                        <li class="table-row">
                            <div class="col col-1 menu-category-item__title">БЕЛОРУССКИЕ РАЗНОСОЛЫ.</div>
                            <div class="col col-3 menu-category-item__description">Огурчики корнишон (100), морковь пряная (100), капуста квашеная (100), зелень. (2)</div>
                            <div class="col col-1 menu-category-item__price">6,79</div>
                        </li>
                        <li class="table-row">
                            <div class="col col-1 menu-category-item__title">АССОРТИ ОВОЩНОЕ.</div>
                            <div class="col col-3 menu-category-item__description">Помидор (100), огурец (100), перец свежие (100), зелень. (6)</div>
                            <div class="col col-1 menu-category-item__price">6,86</div>
                        </li>
                        <li class="table-row">
                            <div class="col col-1 menu-category-item__title">ТАРЕЛКА СЫРНАЯ "КОНСТАНЦИЯ".</div>
                            <div class="col col-3 menu-category-item__description">Сыр сулугуни (150), сыр фету (25),  сыр российский (15), мед,  орех грецкий.</div>
                            <div class="col col-1 menu-category-item__price">10,78</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="description">
        <div class="container">
            <div class="description">
                <div class="description__authorities">
                    <p class="description__authority">Зам директора ОПиТ ГУ РКПЦ  Мосин  А. Ф. </p>
                    <p class="description__authority">Зав.производством Кравчонок В. А. </p>
                    <p class="description__authority">Бухгалтер     Воронько А. А. </p>
                </div>

                <p class="description__text">
                    Кафе (шашлычная) "Три мушкетера" — отличное место для отдыха в центре Минска! Расположенное около ресторана "Родны кут", кафе подарит вам незабываемые минуты общения с близкими и друзьями, приятные воспоминания о свежем и аппетитном шашлыке. В кафе вы можете расслабиться и поужинать, а можете организовать семейный обед. Кафе-бар "Три мушкетера" создан для тех, кто ценит хороший отдых и умеет наслаждаться свежими и сочными блюдами.
                    Кафе удивляет своей необычной организацией: оно представлено в виде десяти домиков из дерева, в которых можно уединиться компании от 4 до 10 человек. Кроме того, большой павильон с настоящей печкой-камином готов принять до 40 человек. Уютные помещения с деревянными столиками и скамейками переносят из центра шумного города в тихий и необычайно красивый уголок Беларуси. Атмосферу уюта создает играющая на протяжении дня фоновая музыка, сменяющаяся с наступлением вечера живым исполнением. Удобное месторасположение кафе — еще одно его достоинство. Кафе "Три мушкетера" находится в центре Минска, в живописном районе станции метро "Первомайская". В зимнее время кафе "Три мушкетера" становится единственным заведением, где в суровый мороз можно отведать горячего, сочного шашлыка.
                </p>
                <img src="assets/img/f833db13f04bd39aa34ab2761e03a162.jpg" alt="" class="description__img">
                <p class="description__text">
                    Разнообразие вариантов приготовления шашлыка не оставит равнодушным даже самого искушенного гурмана: вы можете выбрать как классический шашлык из свинины, так и куриные крылышки в меду, приготовленные на гриле. Вы можете не только насладиться сочным, ароматным шашлыком, только что снятым с мангала, но и потанцевать. Если вы решили пообедать в кафе семьей, можете быть уверены, что детям не будет скучно: кафе оборудовано детской площадкой. В кафе "Три мушкетера" очень легко забыть о будничных заботах и делах, здесь вы можете расслабиться и провести приятный вечер. Беспрепятственный проезд к кафе, прекрасная кухня, уютная домашняя обстановка — божественный отдых для вас и вашей семьи — кафе (шашлычная) "Три мушкетера"!
                </p>
                <div class="description__contacts">
                    <p class="description__hours">Время работы: 12.00 — 24.00.</p>
                    <p class="description__order">
                        Заказ столиков:
                        <a href="tel:+375173272960" class="description__link">(017) 327 29 60</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'common/footer.twig' %}