$c-white: #fff;
$c-white-84-transparent: rgba(255, 255, 255, .84);
$c-white-50-transparent: rgba(255, 255, 255, .5);
$c-gray: #cecece;
$c-gray-1: #EAEAEA;
$c-gray-2: #898989;
$c-black: #000;
$c-black-semi-transparent: rgba(000, 000, 000, .5);
$c-blue-1: #001A6C;
$c-blue-1-50-transparent: rgba(0, 26, 108, .5);
$c-blue-2: #2D61E5;
$c-brown: #723A2C;
$c-red: rgb(219, 78, 84);

$c-transparent: transparent;

$c-blue-brown-angular-gradient:  conic-gradient(
                from 180deg at 50% 42.86%,
                $c-blue-1 -44.94deg,
                $c-brown 134.25deg,
                $c-blue-1 312.9deg,
                $c-blue-1 315.06deg,
                $c-brown 494.25deg);

$c-section-title-text: $c-white;
$c-section-title-text-colored: $c-blue-2;

$c-header-bg: $c-transparent;
$c-header-bg-active: $c-blue-brown-angular-gradient;
$c-header-nav-text: $c-white;
$c-nav-dropdown-text: $c-gray;
$c-header-burger: $c-white;
$c-header-burger-active: $c-transparent;

$c-banner-bg: $c-black;
$c-banner-title: $c-white;
$c-banner-subtitle: $c-white;

$c-affiche-bg: $c-blue-brown-angular-gradient;

$c-ad-bg: $c-gray-1;
$c-ad-none-text: $c-black;

$c-contacts-text: $c-white;
$c-contacts-border-bottom: $c-white;

$c-forvisitors-bg: $c-blue-brown-angular-gradient;
$c-forvisitors-item-title: $c-white;

$c-newsletter-bg: $c-blue-2;
$c-newsletter-title-text: $c-white;
$c-newsletter-subtitle-text: $c-white;
$c-newsletter-email-placeholder: $c-black-semi-transparent;
$c-newsletter-email-bg: $c-white-84-transparent;
$c-newsletter-email-submit-text: $c-white;
$c-newsletter-email-submit-bg: $c-gray-2;

$c-footer-border-top: $c-white;
$c-footer-border-bottom: $c-white;
$c-footer-bg: $c-blue-brown-angular-gradient;
$c-footer-heading-text: $c-white;
$c-footer-link: $c-white-50-transparent;
$c-footer-link-hover: $c-white;

$c-symbols-text: $c-white;
$c-symbols-border-right: $c-white;

$c-copyright-text: $c-white;

$c-splide-arrow-after: $c-gray;

$c-affiche-page-bg: $c-blue-brown-angular-gradient;
$c-affiche-page-title: $c-white;

$c-affiche-event-bottom-bd: $c-gray;
$c-affiche-event-right-bd: $c-red;
$c-affiche-event-title: $c-red;
$c-affiche-event-date: $c-white;
$c-affiche-event-description: $c-white-84-transparent;

$c-contacts-page-bg: $c-blue-brown-angular-gradient;
$c-contacts-page-text: $c-white;
$c-contacts-page-link: $c-blue-2;

$c-restaurant-page-menu-bg: $c-blue-brown-angular-gradient;
$c-restaurant-page-title: $c-white;
$c-restaurant-page-category-item-text: $c-black;
$c-restaurant-page-category-item-bg: $c-white-50-transparent;
$c-restaurant-page-description-bg: $c-blue-1;
$c-restaurant-page-description-text: $c-white;
$c-restaurant-page-description-link: $c-blue-2;

$c-arenda-page-bg: $c-blue-1;
$c-arenda-page-info-text: $c-white;
$c-arenda-page-info-link: $c-brown;
$c-arenda-page-contacts-text: $c-white;
$c-arenda-page-contacts-link: $c-brown;
$c-arenda-page-form-text: $c-white;
$c-arenda-page-form-input-border: $c-white;
$c-arenda-page-form-input-text: $c-white;
$c-arenda-page-form-submit-bg: $c-blue-2;