$c-white: #fff;
$c-gray: #cecece;
$c-gray-1: #EAEAEA;
$c-black: #000;
$c-blue-1: #001A6C;
$c-blue-2: #2D61E5;
$c-brown: #723A2C;
$c-transparent: transparent;

$c-blue-brown-angular-gradient:  conic-gradient(
                from 180deg at 50% 42.86%,
                $c-blue-1 -44.94deg,
                $c-brown 134.25deg,
                $c-blue-1 312.9deg,
                $c-blue-1 315.06deg,
                $c-brown 494.25deg);


$c-header-bg: $c-transparent;
$c-header-bg-active: $c-blue-brown-angular-gradient;
$c-header-nav-text: $c-white;
$c-nav-dropdown-text: $c-gray;
$c-header-burger: $c-white;
$c-header-burger-active: $c-transparent;


$c-affiche-bg: $c-blue-brown-angular-gradient;
$c-affiche-title-text: $c-white;
$c-affiche-title-text-colored: $c-blue-2;

$c-ad-bg: $c-gray-1;
$c-ad-none-text: $c-black;



$c-footer-bg: $c-blue-brown-angular-gradient;
$c-footer-link: $c-white;

$c-contacts-text: $c-white;
$c-contacts-border-bottom: $c-white;

$c-footer-border-top: $c-white;
$c-footer-border-bottom: $c-white;

$c-symbols-text: $c-white;
$c-symbols-border-right: $c-white;

$c-copyright-text: $c-white;