html {
  scroll-behavior: smooth;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: calc(100vw - 20%);
    max-width: 1700px;
  }
}

.display-md-block {
  @media screen and (max-width: $screen-md) {
    display: none;
  }

  @media screen and (min-width: $screen-md) {
    display: block;
  }
}