<div class="gallery">
    <div class="gallery__item">
        <div class="gallery__info">
            <a class="gallery__title" href="#">
                Заголовок изображения
            </a>
        </div>
        <img src="assets/img/kz.jpg" alt="" height="290" width="500" class="event__img">
    </div>

    <div class="gallery__item">
        <div class="gallery__info">
            <a class="gallery__title" href="#">
                Заголовок изображения
            </a>
        </div>
        <img src="assets/img/kz.jpg" alt="" height="290" width="500" class="event__img">
    </div>

    <div class="gallery__item">
        <div class="gallery__info">
            <a class="gallery__title" href="#">
                Заголовок изображения
            </a>
        </div>
        <img src="assets/img/kz.jpg" alt="" height="290" width="500" class="event__img">
    </div>
</div>