<section class="gallery-container">
    <div class="container">
        <div class="gallery-container__title">Концертный зал</div>
        <div class="gallery-container-body">
            <div class="gallery-container-switch">
                    {% include 'galery.twig' %}
            </div>
        </div>
    </div>
</section>