<div class="gallery">
    <div class="gallery__item">
        <div class="gallery__info">
            <a class="gallery__title" href="#">
                Заголовок изображения
            </a>
        </div>
        <img src="assets/img/1.jpg" alt="" height="200" width="350"" class="gallery__photo">
    </div>

    <div class="gallery__item">
        <div class="gallery__info">
            <a class="gallery__title" href="#">
                Заголовок изображения
            </a>
        </div>
        <img src="assets/img/2.jpg" alt="" height="200" width="350"" class="gallery__photo">
    </div>

    <div class="gallery__item">
        <div class="gallery__info">
            <a class="gallery__title" href="#">
                Заголовок изображения
            </a>
        </div>
        <img src="assets/img/IMG_0717.JPG" alt="" height="200" width="350"" class="gallery__photo">
    </div>
    <div class="gallery__item">
        <div class="gallery__info">
            <a class="gallery__title" href="#">
                Заголовок изображения
            </a>
        </div>
        <img src="assets/img/DSC07856.JPG" alt="" height="200" width="350"" class="gallery__photo">
    </div>
    <div class="gallery__item">
        <div class="gallery__info">
            <a class="gallery__title" href="#">
                Заголовок изображения
            </a>
        </div>
        <img src="assets/img/DSCN9607.jpg" alt="" height="200" width="350"" class="gallery__photo">
    </div>
    <div class="gallery__item">
        <div class="gallery__info">
            <a class="gallery__title" href="#">
                Заголовок изображения
            </a>
        </div>
        <img src="assets/img/IMG_5702.JPG" alt="" height="200" width="350"" class="gallery__photo">
    </div>
</div>