@import "splide.min";

.splide {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;

  &__arrow {
    padding: 20px;
  }

  &__track {
    max-height: 100%;
    max-width: 400px;
  }

  &__slide {
    height: 100% !important;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: $screen-md) {
    &__track {
      max-width: none;
    }
  }
}