@import "splide.min";

.splide {
  width: 100%;
  display: flex;
  justify-content: center;

  &__arrow {
    transition: $t-splide-opacity;
    background: none;

    &::after {
      display: block;
      content: '';
      padding: 17px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: $c-splide-arrow-after;
      transition: $t-splide-opacity;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &:hover {
      &::after {
        opacity: .9;
      }
    }
  }

  &__track {
    max-height: 100%;
  }

  &__slide {
    height: 100% !important;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: $screen-md) {
    &__track {
      max-width: none;
    }
  }
}