<section class="affiche">
    <div class="container">
        <h1 class="affiche__title">
            <span class="affiche__title--normal">АФИ</span><span class="affiche__title--colored">ША</span>
        </h1>
        <div class="affiche__slider splide">
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <img src="assets/img/slide-left.svg" alt="">
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <img src="assets/img/slide-right.svg" alt="">
                </button>
            </div>
            <div class="splide__track">
                <div class="splide__list">
                    <div class="splide__slide">
                        <img src="assets/img/sayt_00004_225x1 1.png" alt="" class="splide__img">
                    </div>
                    <div class="splide__slide">
                        <img src="assets/img/sayt12345_225x1 (1) 1.png" alt="" class="splide__img">
                    </div>
                    <div class="splide__slide">
                        <img src="assets/img/555h800_kvitki_i_sayt_225x1 1.png" alt="" class="splide__img">
                    </div>
                    <div class="splide__slide">
                        <img src="assets/img/1613544275_terzan_png_225x1 1.png" alt="" class="splide__img">
                    </div>
                    <div class="splide__slide">
                        <img src="assets/img/sayt_00004_225x1 1.png" alt="" class="splide__img">
                    </div>
                    <div class="splide__slide">
                        <img src="assets/img/sayt12345_225x1 (1) 1.png" alt="" class="splide__img">
                    </div>
                    <div class="splide__slide">
                        <img src="assets/img/555h800_kvitki_i_sayt_225x1 1.png" alt="" class="splide__img">
                    </div>
                    <div class="splide__slide">
                        <img src="assets/img/1613544275_terzan_png_225x1 1.png" alt="" class="splide__img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>