<section class="banner">
    <div class="banner__slider splide">
        <div class="splide__arrows">
            <button class="banner__slider-arrow splide__arrow splide__arrow--prev">
                <img src="assets/img/banner-left.svg" alt="">
            </button>
            <button class="banner__slider-arrow splide__arrow splide__arrow--next">
                <img src="assets/img/banner-right.svg" alt="">
            </button>
        </div>
        <div class="banner__slider-track splide__track">
            <div class="splide__list">
                <div class="banner__slider-slide splide__slide">
                    <img src="assets/img/lords-of-the-sound.png" alt="" class="banner__slider-img splide__img">
                    <h1 class="banner__slider-title">
                        LORDS OF THE SOUND:
                        лучшее за 5 лет
                    </h1>
                    <h4 class="banner__slider-subtitle">
                        концертная программа от современного оркестра
                    </h4>
                </div>
                <div class="banner__slider-slide splide__slide">
                    <img src="assets/img/lords-of-the-sound.png" alt="" class="banner__slider-img splide__img">
                    <h1 class="banner__slider-title">
                        LORDS OF THE SOUND:
                        лучшее за 5 лет
                    </h1>
                    <h4 class="banner__slider-subtitle">
                        концертная программа от современного оркестра
                    </h4>
                </div>
                <div class="banner__slider-slide splide__slide">
                    <img src="assets/img/lords-of-the-sound.png" alt="" class="banner__slider-img splide__img">
                    <h1 class="banner__slider-title">
                        LORDS OF THE SOUND:
                        лучшее за 5 лет
                    </h1>
                    <h4 class="banner__slider-subtitle">
                        концертная программа от современного оркестра
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>