<section class="for-visitors">
    <div class="container">
        <h1 class="section-title for-visitors__title">
            <span class="section-title--normal">ПОСЕТИТЕЛЯМ</span>
        </h1>
        <div class="for-visitors__slider for-visitors__body splide">
            <div class="splide__track">
                <div class="splide__list">
                    <div class="for-visitors__item splide__slide">
                        <div class="for-visitors__item-body">
                            <img src="assets/img/12-3-NUVO-Magazine-Autumn-2009-028-037_INQUIRING_MINDS_PAGE_07_IMAGE_0004 1.png" alt="" class="for-visitors__image">
                            <h1 class="for-visitors__item-title">Концертные залы</h1>
                        </div>
                    </div>
                    <div class="for-visitors__item splide__slide">
                        <div class="for-visitors__item-body">
                            <img src="assets/img/1581349904_50-p-uyutnie-intereri-kafe-91 1.png" alt="" class="for-visitors__image">
                            <h1 class="for-visitors__item-title">Досуг</h1>
                        </div>
                    </div>
                    <div class="for-visitors__item splide__slide">
                        <div class="for-visitors__item-body">
                            <img src="assets/img/Du7g69pX0AAMp1l 1.png" alt="" class="for-visitors__image">
                            <h1 class="for-visitors__item-title">Галерея искусств</h1>
                        </div>
                    </div>
                    <div class="for-visitors__item splide__slide">
                        <div class="for-visitors__item-body">
                            <img src="assets/img/749da7ebc50fee4feb918df1d35f6fb3--meeting-rooms-management 1.png" alt="" class="for-visitors__image">
                            <h1 class="for-visitors__item-title">Аренда коференц залов</h1>
                        </div>
                    </div>
                    <div class="for-visitors__item splide__slide">
                        <div class="for-visitors__item-body">
                            <img src="assets/img/c200main2 1.png" alt="" class="for-visitors__image">
                            <h1 class="for-visitors__item-title">Рекламные возможности</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>