<section class="newsletter">
    <div class="container">
        <div class="newsletter__body">
            <div class="newsletter__column">
                <h1 class="newsletter__title">Подпишитесь на нашу рассылку</h1>
                <h2 class="newsletter__subtitle">Получайте специальные предложения и новости от нас первыми</h2>
            </div>
            <div class="newsletter__column">
                <input type="text" class="newsletter__email" placeholder="Ваш e-mail">
                <button class="newsletter__email-submit">ПОДПИСАТЬСЯ</button>
            </div>
        </div>
    </div>
</section>