.footer {
  background: $c-footer-bg;
  padding: 40px;

  &__bottom {
    border-top: 2px solid $c-footer-border-top;
    border-bottom: 2px solid $c-footer-border-bottom;
    margin-top: 20px;
  }

  .contacts {
    border-bottom: 2px solid $c-contacts-border-bottom;

    &__block {
      margin-bottom: 10px;

      .contacts-address {
        &__text {
          display: block;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          color: $c-contacts-text;
        }
      }
    }
  }

  &__nav {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    &-list {
      width: 242px;

      li > a {
        font-family: 'Montserrat-ExtraBold', sans-serif;
        text-wrap: normal;
        color: $c-footer-link;
        transition: color .3s ease-in-out;

        &:hover {
          color: $c-footer-link-hover;
        }
      }
    }

    &-heading a {
      font-family: 'Montserrat-ExtraBold', sans-serif;
      font-size: 18px;
      color: $c-footer-heading-text !important;
      margin-bottom: 10px;
    }
  }

  &__symbols {
    margin-top: 20px;

    .symbols {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-bottom: 2px solid $c-symbols-border-right;

      &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        width: 320px;
      }

      &__img {
        width: 118px;
        height: 118px;
      }

      &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: center;
        color: $c-symbols-text;
      }

      @media screen and (min-width: $screen-md) {
        justify-content: space-between;
        margin-right: 10px;
        border-bottom: 0;
      }
    }
  }

  &__socials {
    .socials {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-top: 20px;
      justify-content: space-between;

      &__link {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
      }

      @media screen and (min-width: $screen-md) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__copyright {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: $c-copyright-text;
    text-align: center;
    margin-top: 20px;
  }

  @media screen and (min-width: $screen-lg) {
    &__top {
      margin-bottom: 60px;
    }

    &__bottom {
      display: flex;
      margin-top: 0;
    }

    &__contacts {
      .contacts {
        display: flex;
        justify-content: space-between;

        &__block {
          width: 314px;
        }
      }
    }

    &__link {
      text-align: center;
    }

    &__symbols {
      border-right: 2px solid $c-symbols-border-right;
      margin-bottom: 10px;

      .symbols {
        &__block {
          width: 250px;
        }
      }
    }

    &__socials {
      width: 30%;
      max-width: 485px;

      .socials {
        height: 100%;
        padding: 20px;

        &__link {
          display: flex;
          margin-right: 5px;
        }
      }
    }
  }
}