.affiche {
  background: $c-blue-brown-angular-gradient;
  padding: 47px 0;

  .splide {
    position: relative;

    &__track {
      width: 80%;
    }

    &__arrow--next {
      right: 0;
    }

    &__arrow--prev {
      left: 0;
    }

    &__slide {
      img {
        transition: $t-affiche-splide-img;
      }

      &:hover {
        cursor: pointer;

        img {
          filter: blur(2px);
          transform: scale(1.1);
        }
      }
    }
  }
}