.banner {
  background-color: $c-banner-bg;

  &__slider {
    margin: auto;
    max-width: 1920px;
    height: 540px;

    @media screen and (min-width: $screen-md) {
      height: 1080px;
    }

    &-arrow {
      background: none;
    }

    &-track {
      height: 100%;
    }

    &-slide {
      display: flex;
      flex-direction: column;
      justify-content: end;

      @media screen and (min-width: $screen-md) {
        justify-content: center;
      }
    }

    &-img {
      position: absolute;
      z-index: -1;
      width: auto;
    }

    &-title {
      font-family: 'Montserrat-ExtraBold', sans-serif;
      color: $c-banner-title;
      padding: 20px 10px 0;

      @media screen and (min-width: $screen-md) {
        font-size: 48px;
        padding: 0 30px 0 150px;
      }

      @media screen and (min-width: $screen-lg) {
        font-size: 96px;
      }
    }

    &-subtitle {
      font-family: 'Montserrat', sans-serif;
      color: $c-banner-subtitle;
      padding: 0 10px 20px;

      @media screen and (min-width: $screen-md) {
        font-size: 24px;
        padding: 0 30px 0 150px;
      }

      @media screen and (min-width: $screen-lg) {
        font-size: 48px;
      }
    }
  }
}