.header {
  padding: 10px;
  background: $c-header-bg;
  width: 100vw;
  position: fixed;
  max-width: 1920px;
  height: 120px;

  &--active {
    height: 100vh;
    background: $c-header-bg-active;

    .header__nav {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &__logo {
    width: 100px;
    height: 70px;
  }

  @media screen and (min-width: $screen-lg) {
    background: none;
    height: auto;
    display: flex;

    .header__nav {
      margin: 0 30px;
      width: 100%;
    }
  }

  &__nav {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center top;
    transition: $t-nav-opacity;

    .nav-list {
      margin-top: 20px;

      &__item {
        margin-bottom: 30px;
        cursor: pointer;
        position: relative;
      }

      &__text {
        font-family: 'Montserrat', sans-serif;
        color: $c-header-nav-text;
        font-size: 18px;
      }

      &__dropdown {
        .nav-list {
          &__item {
            margin-left: 15px;
            margin-bottom: 15px;
            font-size: 18px;
          }

          &__text {
            color: $c-nav-dropdown-text;

            &::after {
              display: none;
            }
          }
        }
      }
    }

    @media screen and (min-width: $screen-lg) {
      .nav-list {
        display: flex;
        align-items: center;

        &__item {
          display: flex;
          align-items: center;
          height: 100%;
          width: 20%;
        }

        &__text {
          font-size: 18px;
          color: #000;
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  @import "burger";
}