.description {
  background-image: radial-gradient(circle at 50% 50%, #393775 0, #2c2e6e 50%, #1d2667 100%);
  font-family: 'Montserrat', sans-serif;
  color: $c-restaurant-page-description-text;
  padding: 20px 0;

  &__authorities {
    margin-bottom: 20px;
  }

  &__img {
    max-width: 320px;
    margin: 15px 0;
    
    @media screen and (min-width: $screen-md) {
      max-width: unset;
    }
  }

  &__contacts {
    margin-top: 20px;
  }

  &__link {
    color: $c-restaurant-page-description-link;
  }
}