.menu {
  background: $c-restaurant-page-menu-bg;
  font-family: 'Montserrat', sans-serif;
  color: $c-restaurant-page-title;
  padding: 20px;

  &__title {
    font-size: 36px;
    text-align: center;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  &-category {
    &__title {
      text-align: center;
      font-weight: 900;
      margin: 20px 0;
    }

    &-item {
      color: $c-restaurant-page-category-item-text;

      &__title {
        font-weight: 900;
        font-size: 14px;
      }

      &__description {
        font-size: 12px;
      }

      &__price {
        font-weight: 900;
        font-size: 18px;
      }

      li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
      }

      .table-header {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
      }

      .table-row {
        background-color: $c-restaurant-page-category-item-bg;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      }
      .col-1 {
        flex-basis: 10%;
      }
      .col-2 {
        flex-basis: 40%;
      }
      .col-3 {
        flex-basis: 25%;
      }
      .col-4 {
        flex-basis: 25%;
      }

      @media screen and (min-width: $screen-md) {
        &__description {
          font-size: 18px;
        }

        &__price {
          font-size: 22px;
          display: flex;
          align-items: center;
        }

        &__title {
          font-size: 18px;
        }
      }

      @media all and (max-width: 767px) {
        .table-header {
          display: none;
        }

        li {
          display: block;
        }

        .col {
          flex-basis: 100%;
        }

        .col {
          display: flex;
          padding: 10px 0;
        }
      }
    }
  }
}